<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="websiteApp">
    <head>
        <title>Sign Up E-Sports</title>

        <!-- Bootstrap css -->
        <link href="../build/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Application css -->
        <link href="../styles/app.css" rel="stylesheet" />

    </head>
    <body>
        <!-- Main app container -->
        <div class="jumbotron">
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </body>

    <!-- Application scripts -->
    <script src="../build/dist/website-bundled.js"></script>
</html>